.box{
    background-color: darkorange;
    height: 200px;
    width: 200px;
    margin: 100px;
    border: 10px solid red;
    padding: 50px;
}
body{

    margin: 0;
}
.box1{
    background-color: aqua;
    border: 10px solid green;
    height: 200px;
    width: 200px;
    margin: 100px;
    padding: 50px;
}
.box2{
     background-color: gold;
    border: 10px solid green;
    height: 200px;
    width: 200px;
    margin: 100px;
    padding: 50px;
}